<template>
  <div id="app">
    <v-app>
      <Header />
      <v-main>
        <v-row>
          <v-col>
            <v-card>
              <v-img
                class="white--text align-end"
                height="200px"
                src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
              >
                <v-card-title>
                  <h1>トーナメント作成</h1>
                </v-card-title>
              </v-img>
              <v-card-text>
                <h2>トーナメント作成</h2>
                <v-form ref="form">
                  <v-text-field v-model="form.name" label="トーナメント名"></v-text-field>
                  <v-text-field v-model="form.number" label="参加チーム数"></v-text-field>
                  <p>{{ form.name }}</p>
                  <p>{{ form.number }}</p>
                  <v-btn color="primary" @click="submit()">登録</v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-main>
      <Footer />
    </v-app>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";

export default {
  components: { Header, Footer },
  data() {
    return {
      form: {
        name: "",
        number: ""
      },
      formFlag: "false"
    };
  },
  methods: {
    // 送信を試みるメソッド（「送信する」がクリックされたときに呼ばれる）
    async submit() {
      const params = new URLSearchParams();
      params.append("name", this.form.name);
      params.append("number", this.form.number);
      await this.$axios.post("/tournament/new", params);
    }
  }
};
</script>

<style scoped>
h2 {
  position: relative;
  border-left: 6px solid #ccc;
  padding: 10px;
  color: #000;
}

h2::before {
  position: absolute;
  left: -6px;
  bottom: 0;
  content: "";
  width: 6px;
  height: 50%;
  background-color: #ff0000;
}

h2::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ff0000;
}
</style>
