<template>
  <div id="app">
    <v-app>
      <Header />
      <v-main>
        <v-row>
          <v-col cols="2"> </v-col>
          <v-col cols="8">
            <v-card>
              <v-img
                class="black--text align-end"
                height="200px"
                src="../../assets/tournamentCard.png"
              >
                <v-card-title>
                  <h1>トーナメント作成</h1>
                </v-card-title>
              </v-img>
              <v-card-text>
                <v-form ref="form" v-show="show">
                  <h2>トーナメント詳細</h2>
                  <v-text-field
                    v-model="form.name"
                    counter="20"
                    label="トーナメント名"
                  ></v-text-field>
                  <v-text-field
                    v-model="form.number"
                    label="参加チーム数"
                  ></v-text-field>
                  <v-btn color="primary" @click="changeShow()"
                    >チームを登録する</v-btn
                  >
                </v-form>
                <v-form ref="form" v-show="!show">
                  <h2>チーム登録</h2>
                  <v-text-field
                    v-for="n of Number(form.number)"
                    :key="n"
                    v-model="namelist['name' + n]"
                    :label="n"
                  ></v-text-field>
                  <v-btn color="primary" @click="changeShow()"
                    >人数を変更する</v-btn
                  >
                  <v-btn color="primary" @click="submit()">登録する</v-btn>
                  <v-btn color="primary" @click="sampleIn()">サンプル</v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="2"> </v-col>
        </v-row>
      </v-main>
      <Footer />
    </v-app>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";

export default {
  components: { Header, Footer },
  data() {
    return {
      form: {
        name: "",
        number: "",
      },
      namelist: {},
      show: true,
      tournament: {},
      sampleTeamList: [
        "半田 隆之",
        "塩沢 光枝",
        "北村 恒夫",
        "奥村 信一",
        "森島 久夫",
        "岩沢 紀夫",
        "土居 真結",
        "今村 敦",
        "平沢 雪菜",
        "水田 春花",
        "大嶋 仁志",
        "中沢 修一",
        "北 覚",
        "小嶋 菜々実",
        "横川 泰憲",
        "安東 壱琉",
        "久野 美由紀",
        "関 陽音",
        "三枝 雅保",
        "門脇 康朗",
        "重松 咲希",
        "石川 萌恵",
        "鹿島 隆男",
        "福岡 久夫",
        "笹本 有希",
        "矢島 徳一",
        "吾妻 寛",
        "青山 結依",
        "鈴木 敬子",
        "赤木 彩香",
        "明石 春江",
        "平田 里穂",
        "脇田 正道",
        "市原 紬",
        "古谷 睦美",
        "倉持 莉菜",
        "沢 憲一",
        "横田 雅史",
        "佐伯 信長",
        "高倉 雅江",
        "長尾 龍一",
        "富岡 宙真",
        "喜多 真央",
        "坪田 弘明",
        "須田 直義",
        "園田 睦夫",
        "浅野 優起",
        "村井 英三",
        "笹川 悠菜",
        "古市 夏希",
        "相田 萌",
        "内村 一美",
        "内野 栄子",
        "畑 明音",
        "島崎 璃兎",
        "浜本 寛太",
        "小久保 隆星",
        "西田 千絵",
        "山形 萌衣",
        "前田 悦子",
        "河野 七海",
        "玉城 美奈江",
        "藤木 忠雄",
        "中井 藤子",
        "篠原 清信",
        "林田 蒼依",
        "新垣 譲",
        "岡島 岩夫",
        "大下 寅男",
        "半田 賢人",
      ],
    };
  },
  methods: {
    changeShow() {
      this.show = !this.show;
    },
    sampleIn() {
      for (let i = 1; i <= Number(this.form.number); i++) {
        var random = Math.floor( Math.random() * 70 );
        this.$set(this.namelist, ["name" + i], this.sampleTeamList[random]);
      }
    },
    async submit() {
      await this.tournamentSubmit();
      const teamParams = new URLSearchParams();
      for (let i = 1; i <= Number(this.form.number); i++) {
        teamParams.append("name" + i, this.namelist["name" + i]);
      }
      teamParams.append("number", this.form.number);
      teamParams.append("tournamentID", this.tournament.ID);
      await this.axios
        .post("/api/team/new", teamParams)
        .then(() => {
          alert("登録が完了しました！");
          window.location.href = "/";
        })
        .catch((error) => {
          alert(error);
        });
    },
    async tournamentSubmit() {
      const tournamentParams = new URLSearchParams();
      tournamentParams.append("name", this.form.name);
      tournamentParams.append("number", this.form.number);
      await this.axios
        .post("/api/tournament/new", tournamentParams)
        .then((res) => {
          this.tournament = res.data.tournament;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
h2 {
  position: relative;
  border-left: 6px solid #ccc;
  padding: 10px;
  color: #000;
}

h2::before {
  position: absolute;
  left: -6px;
  bottom: 0;
  content: "";
  width: 6px;
  height: 50%;
  background-color: #ff0000;
}

h2::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ff0000;
}
</style>
