﻿<template>
  <div>
    <v-app-bar v-if="windoWidth < 768" app>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-app-bar-nav-icon @click="drawer = !drawer" />
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" app fixed temporary>
      <v-list>
        <v-list-item v-for="(item, i) in items" :key="i" router exact>
          <v-list-item-content>
            <v-btn text :href="item.to">
                <v-list-item-title v-text="item.title" />
            </v-btn>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar v-if="windoWidth >= 768" app>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn v-for="(item, i) in items" :key="i" text :height="buttonHeight" :href="item.to">
          <v-list-item-title v-text="item.title" />
      </v-btn>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      fixed: false,
      isMobile: false,
      buttonHeight: "64px",
      windoWidth: "",
      items: [
        {
          title: "トップ",
          to: "/"
        },
        {
          title: "トーナメント新規作成",
          to: "/tournament/new"
        },
        {
          title: "トーナメントリスト",
          to: "/tournament"
        }
      ],
      title: "トーナメント表作成"
    };
  },
  beforeDestroy() {
    if (typeof window !== "undefined") {
      window.removeEventListener("resize", this.onResize, { passive: true });
    }
  },

  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
  },

  methods: {
    onResize() {
      this.windoWidth = window.innerWidth;
      this.isMobile = this.windoWidth < 960;
      if (this.isMobile) {
        this.buttonHeight = "56px";
      } else {
        this.buttonHeight = "64px";
      }
    }
  }
};
</script>

<style scoped>
a:link,
a:visited,
a:hover,
a:active {
  cursor: default;
  color: #000000;
  text-decoration: none;
}
</style>>
