<template>
  <div id="app">
    <v-app>
      <Header />
      <v-main>
        <v-row>
          <v-col
            cols="12"
            sm="8"
            md="6"
            lg="4"
            xl="3"
            v-for="tournament in tournaments"
            :key="tournament"
          >
            <v-card
              width="400px"
              class="mx-auto mt-5"
              @click="clickRow(tournament)"
            >
              <v-card-title
                >{{ tournament.TournamentName }}
                <v-spacer />
                <v-btn icon @click.stop="deleteTournament(tournament)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn></v-card-title
              >
              <v-divider class="mx-3"></v-divider>
              <v-card-text>参加チーム：{{ tournament.Number }}</v-card-text>
              <v-card-text class="text-right">{{
                tournament.CreatedAt | moment
              }}</v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-main>
      <Footer />
    </v-app>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import moment from "moment";

export default {
  components: { Header, Footer },
  filters: {
    moment(date) {
      return moment(date).format("YYYY/MM/DD");
    },
  },
  data() {
    return {
      tournaments: [],
    };
  },
  mounted() {
    this.axios
      .get("/api/tournament/list")
      .then((res) => {
        this.tournaments = res.data.tournaments;
      })
      .catch((e) => {
        console.log(e);
      });
  },
  methods: {
    clickRow(item) {
      location.href = "/tournament/detail/" + item.ID;
    },
    editTournament(item) {
      console.log("clickEdit", item.ID);
    },
    deleteTournament(item) {
      var result = window.confirm("本当に削除しますか？");
      if (result) {
        console.log("clickDelete", item.ID);
        const params = new URLSearchParams();
        params.append("tournamentID", item.ID);
        this.axios.post("/api/tournament/delete", params).then((response) => {
          if (response.status != 200) {
            throw new Error("レスポンスエラー");
          } else {
            alert("削除が完了しました！");
            window.location.href = "/tournament";
          }
        });
      }
    },
  },
};
</script>

<style scoped>
</style>
