﻿<template>
  <div id="app">
    <v-app>
      <Header />
      <v-main>
        <v-row>
          <v-col>
            <p>トップページ</p>
          </v-col>
        </v-row>
      </v-main>
      <Footer />
    </v-app>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";

export default {
  components: { Header, Footer },
  methods: {}
};
</script>

<style scoped>
</style>
