<template>
  <div id="app">
    <v-app>
      <Header />
      <v-main>
        <v-row>
          <v-col cols="8">
            <bracket :rounds="rounds">
              <template #player="{ player }">
                <div v-if="player.name != ''">
                  <v-btn
                    text
                    height="100%"
                    width="100%"
                    @click="dialogDisplay(player.name, player.id)"
                    >{{ player.name }}</v-btn
                  >
                </div>
                <div v-else></div>
              </template>
            </bracket>
            <v-dialog v-model="dialog" width="400">
              <v-card>
                <v-card-title class="headline grey lighten-2">
                  チーム名変更
                </v-card-title>

                <v-card-text>
                  <v-text-field v-model="edit.teamName"></v-text-field>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="changeTeamName()">
                    変更
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-col>
          <v-col>
            <v-card width="80%">
              <v-card-title class="headline grey lighten-2">
                結果登録
              </v-card-title>
              <v-form ref="form">
                <v-card-text v-for="(record, index) of recordList" :key="index">
                  <v-row>
                    <v-col>
                      {{ record.TeamName1 }}
                      <v-text-field
                        label="スコア"
                        v-model="record.Team1Score"
                      />
                    </v-col>
                    <p>vs</p>
                    <v-col>
                      {{ record.TeamName2 }}
                      <v-text-field
                        label="スコア"
                        v-model="record.Team2Score"
                      />
                    </v-col>
                  </v-row>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="scoreSubmit()">
                    登録
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </v-main>
      <Footer />
    </v-app>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import Bracket from "vue-tournament-bracket";

export default {
  components: { Header, Footer, Bracket },
  data() {
    return {
      dialog: false,
      rounds: [],
      edit: {
        id: "",
        teamName: "",
      },
      recordList: [],
    };
  },
  mounted() {
    var result = location.href.split("/");
    this.axios
      .get("/api/round/" + result[result.length - 1])
      .then((res) => {
        this.rounds = res.data.rounds.rounds;
      })
      .catch((e) => {
        console.log(e);
      });
    this.axios
      .get("/api/record/" + result[result.length - 1])
      .then((res) => {
        this.recordList = res.data.record;
      })
      .catch((e) => {
        console.log(e);
      });
  },
  methods: {
    dialogDisplay(teamName, id) {
      this.dialog = true;
      this.edit.teamName = teamName;
      this.edit.id = id
    },
    async changeTeamName() {
      const teamParams = new URLSearchParams();
      teamParams.append("TeamID", this.edit.id);
      teamParams.append("TeamName", this.edit.teamName);
      await this.axios
        .post("/api/team/nameChange", teamParams)
        .then((res) => {
          console.log(res);
          alert("登録が完了しました！");
        })
        .catch((error) => {
          console.log(error);
          alert("登録が失敗しました...");
        });
      this.dialog = false
      location.reload();
    },
    async scoreSubmit() {
      var count = 0;
      for (const record of this.recordList) {
        const recordParams = new URLSearchParams();
        recordParams.append("recordID", record.ID);
        recordParams.append("Team1Score", record.Team1Score);
        recordParams.append("Team2Score", record.Team2Score);
        await this.axios
          .post("/api/record/update", recordParams)
          .then((res) => {
            console.log(res);
            if (count == 0) {
              alert("登録が完了しました！");
            }
            count++;
          })
          .catch((error) => {
            console.log(error);
            alert("登録が失敗しました...");
          });
      }
      location.reload();
    },
  },
};
</script>

<style>
.vtb-item {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
}
.vtb-item p {
  padding: 20px;
  margin: 0;
  background-color: #999999;
}
.vtb-item-parent {
  position: relative;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.vtb-item-players {
  flex-direction: column;
  background-color: #999999;
  margin: 0;
  color: black;
}
.vtb-item-players .vtb-player {
  padding: 0px;
  width: 200px;
  height: 50px;
}
.vtb-item-players .winner {
  background-color: #ffff33;
}
.vtb-item-players .defeated {
  background-color: #808080;
}
.vtb-item-players .winner.highlight {
  background-color: #ffffcc;
}
.vtb-item-players .defeated.highlight {
  background-color: #808080;
}
.vtb-item-parent:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: gray;
  transform: translateX(-100%);
}
.vtb-item-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vtb-item-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.vtb-item-child:before {
  content: "";
  position: absolute;
  background-color: gray;
  right: 0;
  top: 50%;
  transform: translateX(100%);
  width: 25px;
  height: 2px;
}
.vtb-item-child:after {
  content: "";
  position: absolute;
  background-color: gray;
  right: -25px;
  height: calc(50% + 22px);
  width: 2px;
  top: 50%;
}
.vtb-item-child:last-child:after {
  transform: translateY(-100%);
}
.vtb-item-child:only-child:after {
  display: none;
}
</style>
